# output directories
bin/
bin-int/
build/

# project files
Makefile
*.make
*.sln
*.*proj*
*.xc*

# ide settings
.vs/
.vscode/

# blender backups
*.blend*
!*.blend

# python script cache
scripts/__pycache__/
